<footer class="footer ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
          <h2 class="footer-heading">ConcreteTools</h2>
          <p>Concrete Tools ingresa al mercado mexicano hace 10 años,
            siendo proveedores de herramientas especiales de alta calidad
            para trabajar el concreto. Dando soluciones a las necesidades de la
            industria de la construcción. Estamos participando en el cambio
            y aportando a la cultura de lo bien hecho.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
            <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="fa ffa-whatsapp"></span></a></li>
          </ul>
        </div>
        <!-- <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2 class="footer-heading">Latest News</h2>
          <div class="block-21 mb-4 d-flex">
            <a class="img mr-4 rounded" style="background-image: url(assets/images/image_1.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> Mar. 04, 2020</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a class="img mr-4 rounded" style="background-image: url(assets/images/image_2.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> Mar. 04, 2020</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-md-6 col-lg-4 pl-lg-5 mb-4 mb-md-0">
          <h2 class="footer-heading">Acceso Rápido</h2>
          <ul class="list-unstyled">
            <li><a href="/home" class="py-1 d-block">Inicio</a></li>
            <li><a href="/about#" class="py-1 d-block">Nosotro</a></li>
            <!-- <li><a href="#" class="py-1 d-block">Services</a></li>
            <li><a href="#" class="py-1 d-block">Works</a></li>
            <li><a href="#" class="py-1 d-block">Blog</a></li>
            <li><a href="#" class="py-1 d-block">Contact</a></li> -->
          </ul>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
          <h2 class="footer-heading">Contacto</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon fa fa-map-marker"></span><span class="text">San Agustín Tlaxiaca, Barrio Fresno.</span></li>
              <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+52 1-743-791-4605</span></a></li>
              <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">concretetools@hotmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 text-center">

          <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Hecho <i class="fa fa-heart" aria-hidden="true"></i> por <a href="https://colorlib.com" target="_blank">C. Castro / O. López.</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </footer>